.landing {
    width: 100%;
    height: 100%;
    @extend %flex-center;
    flex-direction: column;
    font-family: $primary-font;

    @include responsive(phone-lg) {
        height: 50vh;
        flex-direction: row;
    }

    @include responsive(desktop) {
        height: 100vh;  
        scroll-snap-align: start; 
    }

    @include responsive(landscape-check) {
        height: 100vh;
    }

    &__content {
        width: min-content;
        @extend %flex-center;
        
        @include responsive(phone-lg) {
            width: 80%;
            margin: 0 auto;
            justify-content: space-between;
        }

        &__hero {
            margin: 12rem 0 6rem 0;

            @include responsive(phone-lg) {
                margin: 0;
            }  

            .intro {
                font-size: 1.5rem;
                font-weight: 300;
                letter-spacing: 0.02rem;

                @include responsive(phone-lg) {
                    font-size: 1rem;
                }

                @include responsive(phone-lg) {
                    font-size: 0.9rem;
                    letter-spacing: 0.04rem;
                }
            }

            .joshteflon {
                width: 30rem;
                margin: 1rem 0 1.5rem 0;

                @include responsive(phone-lg) {
                    margin: 0.75rem 0 1.25rem 0;
                }

                &:hover {
                    -webkit-animation: jello-horizontal 0.9s both;
	                animation: jello-horizontal 0.9s both;
                }
            }
            
            h2 {
                font-size: 1.2rem;
                font-weight: 700;
                text-transform: uppercase;
                letter-spacing: 4.5px;
            }
            
            .about {
                font-size: 1.5rem;
                font-weight: 300;
                width: 95%;
                line-height: 160%;
                margin: 3rem 0;

                @include responsive(phone-lg) {
                    width: 50%;
                    font-size: 0.9rem;
                    margin: 0.75rem 0 1.25rem 0;
                }
            }
            
            .btn-grp {
                display: flex;
                align-items: flex-start;

                .btn {
                    font-size: 1rem;
                    font-weight: 500;
                    text-transform: uppercase;
                    letter-spacing: 1.5px;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    width: 13rem;
                    height: 4rem;
                    border-radius: 5px;
                    font-family: 'Circular Std', sans-serif;
                    cursor: pointer;
                    transition: 200ms;

                    @include responsive(phone-lg) {
                        font-size: 0.85rem;
                        width: 11rem;
                        height: 3.3rem;
                    }

                    &:focus {
                        outline: none;
                    }

                }

                &__contact {
                   position: relative;
                }

                .contact_btn {
                    color: $light-bg;
                    background: linear-gradient(90deg, $secondary-color 45%, transparent 55%);
                    border: none;
                    transition: background-color 0.3s linear;

                    span {
                        margin-left: 0.5rem;
                        font-size: 100%;
                    }

                    svg {
                        fill: $secondary-color;
                        transition: 0.5s;
                        width: 1.35rem;
                        margin-left: 0.1rem;

                        @include responsive(phone-lg) {
                            width: 1.2rem;
                        }
                    }

                    &:hover {
                        background: linear-gradient(90deg, $secondary-color 45%, $secondary-color 55%);
                    }

                    &:hover svg {
                        transform: translateX(4px);
                    }
                }

                .btn-bg-all {
                    background: linear-gradient(90deg, $secondary-color 45%, $secondary-color 55%);
                }

                .download_btn {
                    color: $secondary-color;
                    border: 1px solid $secondary-color;
                    background: transparent;
                    margin-left: 2rem;
                    position: relative;

                    .download_btn__text {
                        transition: transform 0.8s;
                        font-size: 100%;
                    }
                    
                    .download_btn__icon {
                        width: 1.25rem;
                        margin-left: 0.3rem;
                    }

                    @include responsive (phone-lg) {
                        .download_btn__icon {
                            opacity: 0;
                            width: 1.1rem;
                            position: absolute;
                            right: 5px;
                            transition: 0.5s;
                            transform: translate(0);
                            transition: transform 1;
                            margin-left: 0;
                        }

                        &:hover {
                            transform: scale(1.02) rotate(-1.5deg);
                        }
                    

                        &:hover .download_btn__text {
                            transform: translateX(-12px);
                        }

                        &:hover .download_btn__icon {
                            opacity: 1;
                            transform: translateX(-10px);
                        }

                        &:active {
                            transform: translateY(1px);
                        }
                    }

                    &:active {
                        transform: scale(1.02) rotate(-1.5deg);
                        transform: translateY(1px);
                    }
                }
            }
        }

        &__img-wrapper {
            position: relative;
            width: 23rem;
            height: 30rem;
            background: rgba(190, 190, 190, 0.25);
            // border: 1px solid rgba(255, 255, 255, 0.18);
            box-shadow: 0px 20px 15px rgba(0, 0, 0, 0.3);
            backdrop-filter: blur(2px);
            -webkit-backdrop-filter: blur(2px);
            border-radius: 10px;
            margin: 5rem auto;

            @include responsive(phone-lg) {
                margin: 0;
            }

            &__img {
                position: absolute;
                bottom: -0.35rem;
                z-index: 1;
            }

            .img-text {
                text-transform: capitalize;
                font-family: $tertiary-font;
                color: $white;
                font-size: 6rem;
                white-space: nowrap;
                position: absolute;
                bottom: 0;
                left: 50%;
                transform: translate(-50%, 0);
                z-index: 3;
            }

            .img-box {
                position: absolute;
                background: rgba(190, 190, 190, 0.25);
                border: 1px solid rgba(255, 255, 255, 0.18);
                box-shadow: 0px 10px 15px rgba(0, 0, 0, 0.3);
                backdrop-filter: blur(10px);
                -webkit-backdrop-filter: blur(10px);
                border-radius: 10px;
            }

            .box1 {
                width: 4rem;
                height: 4rem;
                top: 15%;
                left: -2rem;
                animation: box-animation 15s linear infinite;
            }

            .box2 {
                width: 8rem;
                height: 8rem;
                top: 40%;
                right: -5rem;
                animation: box-animation 10s linear infinite;
            }
        }
    }

    .desktop__img-section {
        display: none;

        @include responsive(phone-lg) {
            display: inline-block;
        }

    }

    .mobile__img-section {
        display: inline-block;
        width: 100vw;

        @include responsive(phone-lg) {
            display: none;
        }

    }
}


/* Light theme styles */

.light {
    background: $light-bg;

    @include responsive(phone-lg) {
        background: linear-gradient(90deg, $light-bg 70%, $dark-bg 30%);
    }

    .landing__content {

        .landing__content__hero {

            .intro, .about {
                color: $black;
            }

            h2 {
                color: $dark-bg;
            }

            .btn-grp {
                
                .contact_btn {
                    color: $light-bg;

                    &:hover span {
                        color: $light-bg;
                    }

                    &:hover svg {
                        fill: $light-bg;
                    }

                    span {
                        color: $secondary-color;
                    }
                }

                .btn-bg-all {
                    span {
                        color: $light-bg;
                    }

                    svg {
                        fill: $light-bg;
                    }
                }
            }
        }
    }

    .mobile__img-section {
        background-color: $dark-bg;
    }
}


/*Dark theme styles */
.dark {
    background: $dark-bg;

    @include responsive(phone-lg) {
        background: linear-gradient(90deg, $dark-bg 70%, $primary-color 30%);
    }

    .landing__content {

        .landing__content__hero {

            .intro, .about {
                color: $white;
            }

            h2 {
                color: $primary-color;
            }

            .btn-grp {
                
                .contact_btn {
                    color: $dark-bg;
                    
                    &:hover span {
                        color: $dark-bg;
                    }

                    &:hover svg {
                        fill: $dark-bg;
                    }

                    span {
                        color: $secondary-color;

                        &:hover {
                            color: $dark-bg;
                        }
                    }
                }

                // .btn-bg-all {
                //     span {
                //         color: $dark-bg;
                //     }

                //     svg {
                //         fill: $dark-bg;
                //     }
                // }
            }
        }
    }

    .mobile__img-section {
        background-color: $primary-color;
    }
}

//Animation
@keyframes box-animation {
    0%,100% {
      @include transform(translateY(-20px));
    }
    
    50% {
        @include transform(translateY(20px))
    }
}

@-webkit-keyframes jello-horizontal {
	0% { @include transform(scale3d(1, 1, 1)); }
	30% { @include transform(scale3d(1.1, 0.75, 1)); }
	40% { @include transform(scale3d(0.75, 1.25, 1)); }
	50% { @include transform(scale3d(1.05, 0.85, 1)); }
	65% { @include transform(scale3d(0.95, 1.05, 1)); }
	75% { @include transform(scale3d(1.05, 0.85, 1)); }
	100% { @include transform(scale3d(1, 1, 1)); }
}
@keyframes jello-horizontal {
	0% { @include transform(scale3d(1, 1, 1)); }
	30% { @include transform(scale3d(1.1, 0.75, 1)); }
	40% { @include transform(scale3d(0.75, 1.25, 1)); }
	50% { @include transform(scale3d(1.05, 0.85, 1)); }
	65% { @include transform(scale3d(0.95, 1.05, 1)); }
	75% { @include transform(scale3d(1.05, 0.85, 1)); }
	100% { @include transform(scale3d(1, 1, 1)); }
}