@font-face {
	font-family: 'Circular Std';
	src: url('../../assets/fonts/circular/CircularStd-Black.otf') format('opentype'),
        url('../../assets/fonts/circular/CircularStd-Black.woff') format('woff');
  	font-weight: 900;
	font-style: normal;
}

@font-face {
	font-family: 'Circular Std';
	src: url('../../assets/fonts/circular/CircularStd-Bold.otf') format('opentype'),
        url('../../assets/fonts/circular/CircularStd-Bold.woff') format('woff');
  	font-weight: 700;
	font-style: normal;
}

@font-face {
	font-family: 'Circular Std';
	src: url('../../assets/fonts/circular/CircularStd-Medium.otf') format('opentype'),
	    url('../../assets/fonts/circular/CircularStd-Medium.woff') format('woff');
  	font-weight: 500;
	font-style: normal;
}

@font-face {
	font-family: 'Circular Std';
	src: url('../../assets/fonts/circular/CircularStd-Light.otf') format('opentype');
  	font-weight: 300;
	font-style: normal;
}

@font-face {
	font-family: 'Circular Book';
	src: url('../../assets/fonts/circular/CircularStd-Book.otf') format('opentype'),
        url('../../assets/fonts/circular/CircularStd-Book.woff') format('woff');
	font-style: normal;
}

@font-face {
	font-family: 'Authentic';
	src: url('../../assets/fonts/authentic/Authentic-Signature.ttf') format('truetype');
	font-style: normal;
}